<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template2">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
  <meta charset="utf-8">
  <title>Liste des Equipe</title>
</head>
<body>
<div layout:fragment="Mycontent">
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        Liste des Equipe
      </div>
      <div class="card-body">

        <table class="table table-striped">
          <tr>
            <th>ID</th><th>Nom Equipe</th><th>pays</th><th>date found</th><th>League</th><th>Actions</th>
          </tr>
          <tr th:each="p:${equipes.content}">
            <td th:text="${p.idEquipe}"></td>
            <td th:text="${p.nomEquipe}"></td>
            <td th:text="${p.paysEquipe}"></td>
            <td th:text="${#dates.format(p.dateFound,'yyyy-MM-dd')}"></td>
            <td th:text="${p.league != null ? p.league.nomLeague : ''}"></td>


            <td><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')" th:href="@{supprimerEquipe(id=${p.idEquipe},
                            page=${currentPage}, size=${size})}">Supprimer</a></td>

            <td><a class="btn btn-primary" th:href="@{modifierEquipe(id=${p.idEquipe},page=${currentPage})}">Modifier</a></td>


          </tr>
        </table>
        <ul class="nav nav-pills">
          <li th:each="page,status:${pages}">
            <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
               th:href="@{ ListeEquipe(page=${status.index}, size=${size} ) }"
               th:text="${status.index }"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>